@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400&display=swap");

.card {
  background-color: #ffffff;
  border-radius: 15px;
  border: 0.5px solid #f8f8f8;
  box-shadow: 0 10px 15px rgba(141, 136, 136, 0.1);
  padding: 10px;
  margin: 12px;
  width: 23%;
  height: 51%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.image {
  margin-top: 15px;
  margin-left: 3px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  margin: 15px;
  margin-top: 50px;
}

.font1 {
  font-family: "Assistant", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #000000;
}

.font2 {
  font-family: "Assistant", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}

.font3 {
  font-family: "Assistant", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
