.root {
  display: flex;
  background-color: #fffafa;
  height: 100vh;
  font-family: inherit;
}

/* AppBar styles */
.appBar {
  height: 90px;
  display: flex;
  background-color: #fff;
}

.appBar.open {
  margin-left: 240px;
  background-color: #ffffff;
}
.appBar.close {
  background-color: #ffffff;
}

/* Menu button styling */
.menuButton {
  margin-left: 0px;
}
.menuButton.close {
  color: #000000;
}

.menuButton.hidden {
  display: flex;
}

/* Drawer styles */
.drawer {
  width: 235px;

  flex-shrink: 0;
}

.drawerHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d61900;
  height: 100px;
  padding: 16px;
}

.drawerHeader2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.drawerHeaderRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexContainer {
  display: flex;
  align-items: center;
}

/* Main content area */
.mainContent {
  flex-grow: 1;
  padding: 24px;
  margin-top: 50px;
  transition: margin 0.3s ease-in-out;
  margin-left: -240px;
  height: 90%;
}

.mainContent.open {
  margin-left: 0;
}

/* Drawer Paper */
.MuiDrawer-paper {
  width: 230px;
  box-sizing: border-box;
}

/* List item icon styles */
.MuiListItemIcon-root {
  min-width: 40px;
}

/* Typography styles */
.MuiTypography-root {
  margin-bottom: 16px;
}

/* Divider styling */
.MuiDivider-root {
  margin: 16px 0;
}

/* Styles for the image */
.styledImage {
  object-fit: cover;
  position: relative;
}
.styledImage.open {
  margin-left: 290px;
}

.styledSidebarImage {
  width: 165px;
  height: 45px;
  justify-content: center;
  position: center;
  margin: 6px 0px;
}

.mainItem {
  font-family: inherit;
  font-size: 14px !important;
  color: #6e6767;
  margin-bottom: 4px;
  position: relative;
}

.subItems {
  font-size: 14px !important;
  color: #6e6767;
  padding: 8px 12px 8px 16px;
  margin-bottom: 4px;
  position: relative;
  left: 5%;
}

.subItems::before {
  content: "•";
  color: #6e6767;
  position: absolute;
  left: 1%;
  transform: translateY(-250%);
  width: 4px;
  height: 4px;
}

.menu {
  height: 80%;
}

.subMenu {
  margin-left: 10%;
  color: #6e6767;
}

.icon {
  height: 24px;
  min-width: 40px;
}

.menuItems {
  font-family: sans-serif;
  font-size: 14px;
}
/* .drawerFooter {
      padding: 16px;
      flex-shrink: 0;
      height: 90px;
      border-top: dashed 1px rgb(139, 132, 132, 0.24);
    } */

.scrollableMenu {
  flex-grow: 1;
  overflow-y: auto;
  padding: 8px 0;
  padding-left: 10px;
}

.listBtn {
  background-color: black;
}
.listBtn.selected {
  background-color: #fcedeb;
  color: rgb(215 36 12);
  padding-left: 15px;
  border-radius: 8px;
}

.subItemSelected {
  color: #000000; /* Subitem highlight */

  font-weight: 600;
}

.subItemSelected::after {
  content: "•";
  color: red;
  position: absolute;
  left: 1%;
  font-weight: bold;
  font-size: 30px;
  transform: translateY(-150%) translateX(-25%);
  width: 10px;
  height: 10px;
}
